<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Hola Aldo</title>
	</head>
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>		
		</header>
		<!-- Comentarios -->
		<nav>
			<ul>
				<li><a href="http://www.fi.unju.edu.ar">Fi Unju</a></li>
				<li><a href="#sobre-nosotros"></a>Sobre nosotros</li>
				<li><a href="#Contacto"></a>Contacto</li>
			</ul>		
		</nav>
		<main>
			<section id="inicio">
			<h2>Titulo</h2>
			<p></p>Cooper's Burguers p
			<h3>Docentes</h3>
			<ol>
				<li>Vega Ariel</li>
				<li>Apaza Carolina</li>
				<li>Sosa Gustavo</li>
				<li>Rodriguez Juan</li>
			</ol>
			</section>
		</main>
		<aside>
			<h1>Atencion!</h1>
			<p>Las Mejores Burguers</p>
			<a></a>
			<img alt="Coopers" src="../static/images/Cooper Logo.jpg">
		</aside>
		<footer>
			
		</footer>

	</body>
</html>