<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual F.I.</title>
		<link rel="stylesheet" href="../static/css/estilos.css"> 
	</head>
	<body>
		<header id="encabezado">
			<h1>Bienvenido a Programacion Visual</h1>		
		</header>
		<!-- Comentarios -->
		<nav>
			<ul>
				<li><a href="http://www.fi.unju.edu.ar">Fi Unju</a></li>
				<li><a href="#sobre-nosotros"></a>Sobre nosotros</li>
				<li><a href="#Contacto"></a>Contacto</li>
			</ul>		
		</nav>
		<main>
			<section id="inicio">
			<h2>Programacion Visual</h2>
			<table>
				  <tr>
				    <th>Responsable de Cursada</th>
				    <td>Mg. Ing. Ariel Alejandro Vega</td>
				  </tr>
				  <tr>
				    <th>Prof Adj Ded. Simple</th>
				    <td>Mg. Ing. Gustavo Sosa</td>
				  </tr>
				  <tr>
				    <th>JTP Ded. Simple</th>
				    <td>Ing. Carolina Apaza</td>
				  </tr>
				  <tr>
				    <th>Ayu. Primera Ded. Simple</th>
				    <td>Juan Rodriguez</td>
				  </tr>
			</table>
			<h3>UNIDAD I: Lenguaje Java </h3>
			<p>Tipos de datos primitivos y complejos. Estructuras de datos. Operadores. Uso de Strings, Arreglos y Colecciones. Conceptos generales de la Programación Orientada a Objetos. Clases y objetos: Definición y Ejemplos. </p>
			<h3>UNIDAD II: Introducción a Spring Boot </h3>
			<p>Arquitectura de aplicaciones Web. Herramientas necesarias. ¿Qué es un Framework? Evolución de Spring. Módulos disponibles. Arquitectura de una aplicación con Spring. Creación de proyectos con Spring Boot en un IDE. Concepto de Controladores. Gestión de peticiones con RequestMapping. Introducción a HTML. Estructura de un documento HTML. Introducción a CCS. Creación de un sitio Web HTML. </p>
			</section>
		</main>
		<aside>
			<h1>Logo Facultad de Ingenieria</h1>
			<p></p>
			<a></a>
			<img alt="FI" src="../static/images/LogoFacultad.jpg" width="300" height="200">
		</aside>
		<footer>			
			<a>Direccion</a>
			<a href="http://www.fi.unju.edu.ar">facebook page</a>
			<a>Telefono de contacto</a>
		</footer>
	</body>
</html>