@charset "UTF-8";
 body, html {
    height: 100%; 
    margin: 0;
    width:100%; 
  }

header {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
.contenedor{
	
}
.nav{
	
}

.a{
	
}

.main{
	
}

.section{
	
}

.h1{}

.h2{}

.h3{}

.table{}

.img{}
.form{
	position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;    
}
#footer {       
    width: 100%;
    background-color: #f9f9f9;    
    position: absolute;
    top: 91%;
    
    
   
  }
.contenedor{
    display:flex;
    justify-content: space-around;
    text-align: center;
  }
  .aFooter {
    
  }
  .aFooter li {
  
  }
  .aFooter li a {
    
  }
  
  